@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

$typography-map: (
  "headline":(
    "font-size": 14px,
    "font-weight": 500,
    "line-height": 20px,
    "font-tracking": 0.1px,
    "color": var(--md-sys-headline-color)
  ),
   "label-text":(
    "font-size": 14px,
    "font-weight": 500,
    "line-height": 20px,
    "font-tracking": 0.1px,
    "color": var(--md-sys-label-text-color)
  ),
    "badge-text":(
    "font-size": 14px,
    "font-weight": 500,
    "line-height": 20px,
    "font-tracking": 0.1px,
    "color": var(--md-sys-color-badge-label-text)
  ),
);

@mixin _private-apply-text-style($font-style) {
  $font-map: map.get($typography-map, $font-style);
  font-size: map.get($font-map, "font-size");
  font-weight: map.get($font-map, "font-weight");
  line-height: map.get($font-map, "line-height");
  font-tracking: map.get($font-map, "font-tracking");
  color: map.get($font-map, "color");
}
@mixin typography-headline-style {
  @include _private-apply-text-style("headline");
}
@mixin typography-label-style {
  @include _private-apply-text-style("label-text");
}
@mixin typography-badge-style {
  @include _private-apply-text-style("badge-text");
}

html,
body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  //background-color: #F7F2FA;
  background-color: var(--md-sys-color-scrim);
}

:root {
  --display-on-or-off-a-number: none;
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
  overflow-x: hidden;

  //light
  --md-sys-color-surface-container-low-light: rgb(254, 247, 255);
  --md-sys-color-on-surface-variant-light: rgb(73, 69, 79);
  --md-sys-color-on-secondary-container-light: rgb(74, 68, 88);
  --md-sys-color-on-secondary-container-light: rgb(73, 69, 79);
  --md-sys-color-secondary-container-light: rgb(232, 222, 248);
  //--md-sys-color-surface-container-low-light: rgb();
  //--md-sys-color-on-secondary-container-light: rgb();
  --md-sys-color-on-surface-variant-light: rgb(73, 69, 79);
  --md-sys-color-scrim-light: rgb(50, 47, 55);

  //dark
  --md-sys-color-surface-container-low-dark: rgb(20, 18, 24); //container
  --md-sys-color-on-surface-variant-dark: rgb(202, 196, 208); //headline
  --md-sys-color-on-secondary-container-dark: rgb(232, 222, 248); //label text
  --md-sys-color-on-secondary-container-dark: rgb(202, 196, 208); //icon
  --md-sys-color-secondary-container-dark: rgb(74, 68, 88); //active indicator
  //--md-sys-color-surface-container-low-dark: rgb();
  //--md-sys-color-on-secondary-container-dark: rgb();
  --md-sys-color-on-surface-variant-dark: rgb(202, 196, 208); //badge text
  --md-sys-color-scrim-dark: rgb(50, 47, 55);

  //light-dark
  --md-sys-color-navigation-driver: light-dark(var(--md-sys-color-surface-container-low-light), var(--md-sys-color-surface-container-low-dark));
  --md-sys-headline-color: light-dark(var(--md-sys-color-on-surface-variant-light), var(--md-sys-color-on-surface-variant-dark));
  --md-sys-label-text-color: light-dark(var(--md-sys-color-on-secondary-container-light), var(--md-sys-color-on-secondary-container-dark));
  --md-sys-color-icon: light-dark(var(--md-sys-color-on-secondary-container-light), var(--md-sys-color-on-secondary-container-dark));
  --md-sys-color-active-indicator: light-dark(var(--md-sys-color-secondary-container-light), var(--md-sys-color-secondary-container-dark));
  --md-sys-color-badge-label-text: light-dark(var(--md-sys-color-on-surface-variant-light), var(--md-sys-color-on-surface-variant-dark));
  --md-sys-color-scrim: light-dark(var(--md-sys-color-scrim-light), var(-md-sys-color-scrim-dark));

  color-scheme: light dark;
}

.app {
  display: grid;
  grid-template-columns: minmax(50px, 360px);
  height: 100%;
}

.navigation-driver {
  display: grid;
  grid-template-columns: minmax(50px, 336px);
  grid-template-rows: min-content;
  height: auto;
  justify-content: center;
  padding-block: 12px;
  background-color: var(--md-sys-color-navigation-driver);
  &__main {
    display: grid;
    grid-template-columns: minmax(50px, 1fr);
    .active {
      background-color: var(--md-sys-color-active-indicator);
      --display-on-or-off-a-number: flex;
      border-radius: 28px;
    }
    &__item-headline {
      display: grid;
      grid-template-columns: minmax(50px, 1fr);

      color: var(--md-sys-headline-color);

      grid-template-rows: auto;
      height: 56px;
      //background-color: azure;

      &__text {
        padding-block: 18px;
        padding-inline: 16px;
        @include typography-headline-style;
      }
    }

    &__item-main {
      --_state_layer-display: none;
      display: flex;
      justify-content: space-between;
      height: 56px;
      align-items: center;
      padding-inline: 19px;
      position: relative;
      isolation: isolate;
      color: var(--md-sys-label-text-color);
      &:hover {
        --_state_layer-display: block;
      }

      &::after {
        display: var(--_state_layer-display);
        content: '';
        position: absolute;
        inset: 0;
        background-color: #4A4458;
        opacity: .18;
        z-index: -1;
        border-radius: 26px;
      }

      &__left {  
        display: flex;
        gap: 12px;

        &__text {
          margin-top: 3px;
          @include typography-label-style;
        }
      }
      &__right-number {
        display: var(--display-on-or-off-a-number);
        @include typography-badge-style;
      }
    }
  }
}